<extend name="Base:model" />
<block name="main">
    <div id="subbanner">
        <div class="subimg"><img src="TMPL_HOME_IMAGES/sonbanner03.jpg" width="1440" height="199" /></div>
    </div>
    <div style="margin: 0 auto;width: 300px;height: 200px;margin-top: 30px;">
        <form method="post">
            <ul>
                <li>用户名：<input type="text" name="mem_name" style="width: 230px;height: 20px;"></li><br/>
                <li>密 &nbsp;&nbsp;&nbsp;码：<input type="text" name="mem_pwd" style="width: 230px;height: 20px;"></li><br/>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="登录" style="width: 100px;height: 20px;"></li>
            </ul>
        </form>
    </div>
</block>