<extend name="Base:model" />
<block name="main">
<div id="banner">
	<div class="flexslider">
        <ul class="slides">
            <li style="background:url(TMPL_HOME_IMAGES/banner01.jpg) 50% 0 no-repeat;"></li>
            <li style="background:url(TMPL_HOME_IMAGES/banner02.jpg) 50% 0 no-repeat;"></li>
            <li style="background:url(TMPL_HOME_IMAGES/banner01.jpg) 50% 0 no-repeat;"></li>
            <li style="background:url(TMPL_HOME_IMAGES/banner02.jpg) 50% 0 no-repeat;"></li>
        </ul>
        <script type="text/javascript">
            $(document).ready(function(){
                $('.flexslider').flexslider({
                    directionNav: true,
                    pauseOnAction: false
                });
            });
        </script>
    </div>

</div>
<div id="main">
	<div class="mainbox">
    	<div class="mainbody"> 
        	<div class="mainbody_l">
            	<div class="rollimg">
                	<span><img src="TMPL_HOME_IMAGES/i_pic01.png" /></span>
                </div>
                <div class="news">
                	<div class="news_tle"><span><a href="#"><img src="TMPL_HOME_IMAGES/more.png" /></a></span></div>
                    <div class="news_list">
                    	<ul>
                        	<li><a href="#">2012-04-05 公司组织业余娱乐集体活动氛围轻...</a></li>
                            <li><a href="#">2012-04-10 公司组织业余娱乐集体活动氛围轻...</a></li>
                            <li><a href="#">2012-04-10 公司组织业余娱乐集体活动氛围轻...</a></li>
 
                        </ul>
                    </div>
                </div>
            </div>
            <div class="mainbody_r"><img src="TMPL_HOME_IMAGES/i_temp.jpg" /></div>
        </div>
    </div>
</div>
</block>