<extend name="Base:model" />
<block name="main">
    <div id="subbanner">
        <div class="subimg"><img src="TMPL_HOME_IMAGES/sonbanner02.jpg" width="1440" height="199" /></div>
    </div>
    <div id="sonmain">
        <div class="sonmainbox">
            <div class="sontips">
                <div class="sonname">
                    <div class="sonnamebg"><img src="TMPL_HOME_IMAGES/tt02.jpg" /></div>
                </div>
                <div class="loaction">
                    <ul>
                        <li>良仓开发</li>
                        <li>-</li>
                        <li><a href="#">首页</a></li>
                        <li>当前位置：</li>
                        <li><img src="TMPL_HOME_IMAGES/028.png" /></li>
                    </ul>
                </div>
            </div>
            <div class="subbody">
                <div class="subside">
                    <div class="sidemenu">
                        <ul>
                            <li class="sonmenua"><a href="#"><span>产品详情</span></a></li>
                        </ul>
                    </div>
                    <div class="side_contact">
                        <div class="sideimgtle"><img src="TMPL_HOME_IMAGES/123.jpg" /></div>
                        <div class="sidecontactbody"><h1>服务热线电话：</h1>
                            <h2><span>130 6433 9618</span></h2>
                            <h3>地址：重庆北部新区水星</h3>
                        </div>
                    </div>
                </div>
                <div class="subcontent">
                    <div class="actle"><span class="title_son"><span>产</span>品详情</span></div>
                    <div class="mainarticle" style="float: left">
                        <div class="article_img">
                            <img src="/Uploads/{$goods_info.goods_img_ori}" />
                        </div>
                        <div class="article_text">
                            <div>
                                <ul>
                                    <li>产品名称：<span style="font-weight: 700;font-size: 16PX">{$goods_info.goods_name}</span></li>
                                    <li>
                                        销售价格：
                                        <span style="color: orangered;font-family: verdana,arial;  font-size: 21px;  font-weight: 666;">
                                            {$goods_info.goods_price}
                                        </span>
                                    </li>
                                    <if condition="$show_price eq 1">
                                        <if condition="$mem_info.is_show_ct eq 1">
                                            <li>
                                                市级经销商价格：
                                        <span style="color: orangered;font-family: verdana,arial;  font-size: 21px;  font-weight: 666;">
                                            {$goods_info.goods_ct_price}
                                        </span>
                                            </li>
                                        </if>
                                        <if condition="$mem_info.is_show_cu eq 1">
                                            <li>
                                                县级经销商价格：
                                        <span style="color: orangered;font-family: verdana,arial;  font-size: 21px;  font-weight: 666;">
                                            {$goods_info.goods_cu_price}
                                        </span>
                                            </li>
                                        </if>
                                        <if condition="$mem_info.is_show_ag eq 1">
                                            <li>
                                                普通经销商价格：
                                        <span style="color: orangered;font-family: verdana,arial;  font-size: 21px;  font-weight: 666;">
                                            {$goods_info.goods_ag_price}
                                        </span>
                                            </li>
                                        </if>
                                        <if condition="$mem_info.is_show_mem eq 1">
                                            <li>
                                                会员价格：
                                        <span style="color: orangered;font-family: verdana,arial;  font-size: 21px;  font-weight: 666;">
                                            {$goods_info.goods_mem_price}
                                        </span>
                                            </li>
                                        </if>
                                        <if condition="$mem_info.is_show_disc eq 1">
                                            <li>
                                                促销价格：
                                        <span style="color: orangered;font-family: verdana,arial;  font-size: 21px;  font-weight: 666;">
                                            {$goods_info.goods_discount}
                                        </span>
                                            </li>
                                        </if>
                                    </if>
                                    <li></li>
                                    <li></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div style="margin-top: 30px;margin-bottom: 50px;">
                        {$goods_info.goods_des}
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>
