<extend name="Base:model" />
<block name="main">
    <div id="subbanner">
        <div class="subimg"><img src="TMPL_HOME_IMAGES/sonbanner03.jpg" width="1440" height="199" /></div>
    </div>
    <div id="sonmain">
        <div class="sonmainbox">
            <div class="sontips">
                <div class="sonname">
                    <div class="sonnamebg"><img src="TMPL_HOME_IMAGES/tt03.jpg" /></div>
                </div>
                <div class="loaction">
                    <ul>
                        <li>产品推荐</li>
                        <li>-</li>
                        <li><a href="#">盛峰宏物</a></li>
                        <li>-</li>
                        <li><a href="#">首页</a></li>
                        <li>当前位置：</li>
                        <li><img src="TMPL_HOME_IMAGES/028.png" /></li>
                    </ul>
                </div>
            </div>
            <div class="subbody">
                <div class="subside">
                    <div class="sidemenu">
                        <ul>
                            <foreach name="class" item="cla" >
                                <li class="sonmenu"><a href="{:U('/Product/plist','cid='.$cla['class_id'])}"><span>{$cla.class_name}</span></a></li>
                            </foreach>
                        </ul>
                    </div>
                    <div class="side_contact">
                        <div class="sideimgtle"><img src="TMPL_HOME_IMAGES/123.jpg" /></div>
                        <div class="sidecontactbody"><h1>服务热线电话：</h1>
                            <h2><span>130 6433 9618</span></h2>
                            <h3>地址：四川省达州市</h3>
                        </div>
                    </div>
                </div>
                <div class="subcontent">
                    <div class="actle"><span class="title_son">产品列表</span></div>
                    <div class="article_listpic03">
                        <ul>
                            <foreach name="goods_info" item="goods" >
                                <li>
                                    <div class="listpic03"><a href="#"><img src="/Uploads/{$goods.goods_img_ori}" /></a></div>
                                    <div class="listpic03_tt"><a href="#">{$goods.goods_name}</a>
                                        <h2></h2>
                                    </div>
                                </li>
                            </foreach>
                        </ul>
                    </div>
                    {$page}
                </div>
            </div>
        </div>
    </div>
</block>