<extend name="Base:model" />
<block name="main">
    <div id="subbanner">
        <div class="subimg"><img src="TMPL_HOME_IMAGES/sonbanner03.jpg" width="1440" height="199" /></div>
    </div>
    <div id="sonmain">
        <div class="sonmainbox">
            <div class="sontips">
                <div class="sonname">
                    <div class="sonnamebg"><img src="TMPL_HOME_IMAGES/tt03.jpg" /></div>
                </div>
                <div class="loaction">
                    <ul>
                        <li>产品推荐</li>
                        <li>-</li>
                        <li><a href="#">良仓金融</a></li>
                        <li>-</li>
                        <li><a href="#">首页</a></li>
                        <li>当前位置：</li>
                        <li><img src="TMPL_HOME_IMAGES/028.png" /></li>
                    </ul>
                </div>
            </div>
            <div class="subbody">
                <div class="subside">
                    <div class="sidemenu">
                        <ul>
                            <li class="sonmenu"><a href="finance.html"><span>关于良仓金融</span></a></li>
                            <li class="sonmenua"><a href="finance_dj.html"><span>产品推荐</span></a></li>
                        </ul>
                    </div>
                    <div class="side_contact">
                        <div class="sideimgtle"><img src="TMPL_HOME_IMAGES/123.jpg" /></div>
                        <div class="sidecontactbody"><h1>服务热线电话：</h1>
                            <h2>023-<span>45685426</span></h2>
                            <h3>地址：四川省达州市</h3>
                        </div>
                    </div>
                </div>
                <div class="subcontent">
                    <div class="actle"><span class="title_son"><span>关</span>于良仓金融</span></div>
                    <div class="article_listpic03">
                        <ul>
                            <foreach name="goods_info" item="goods" >
                                <li>
                                    <div class="listpic03"><a href="#"><img src="/{$goods.goods_img_ori}" /></a></div>
                                    <div class="listpic03_tt"><a href="#">{$goods.goods_name}</a>
                                        <h2></h2>
                                    </div>
                                </li>
                            </foreach>
                        </ul>
                    </div>
                    <div class="page">
                        {$page}
                        <ul>
                            <li><a href="#">首页</a></li>
                            <li><a href="#">上一页</a></li>
                            <li class="page_na"><a href="#"><span>1</span></a></li>
                            <li class="page_n"><a href="#"><span>2</span></a></li>
                            <li><a href="#">下一页</a></li>
                            <li><a href="#">尾页</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</block>