<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>良仓实业</title>
    <link rel="stylesheet" type="text/css" href="TMPL_HOME_CSS/main.css">
    <script type="text/javascript" src="TMPL_HOME_JS/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="TMPL_HOME_JS/jquery.flexslider-min.js"></script>
</head>
<body>
<div id="topbox">
    <div class="topmain">
        <div class="logo"><img src="TMPL_HOME_IMAGES/logo.png" alt="logo" /></div>
        <div class="serach">
            <ul>
                <li class="ser01">
                    <input class="ser_box" type="text" />
                </li>
                <li class="ser02"><a href="#"><img src="TMPL_HOME_IMAGES/sarchbtn_bg.png" /></a></li>
            </ul>
        </div>
    </div>
</div>
<div id="nav">
    <div class="nav_main">
        <ul>
            <foreach name="bar_list" item="bar" >
            <?php $controller = $bar['controller'];$action = $bar['action']; $full = $controller.'/'.$action; ?>
            <li class="menu"><a href="{:U($full)}">
                <h2>{$bar.bar_name}</h2>
            </a></li>
            </foreach>
        </ul>
    </div>
</div>
<block name="main"></block>
<block name="button"></block>
<div id="footer">
    <div class="footer_main">
        <div class="footer_menu"> <a href="#">友情链接</a> | <a href="contact.html">联系我们</a> | <a href="#">在线留言</a></div>
        <div class="copyright">良仓实业 版权所有 联系地址：重庆市经济技术开发区鸳鸯湖39号 邮编：401122  ? 2012 Face decorati</div>
    </div>
</div>
</body>
</html>
