<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="TMPL_MAN_CSS/style.css" rel="stylesheet" type="text/css" />
<script language="JavaScript" src="TMPL_MAN_JS/jquery.js"></script>

<script type="text/javascript">
$(function(){	
	//导航切换
	$(".menuson li").click(function(){
		$(".menuson li.active").removeClass("active")
		$(this).addClass("active");
	});
	
	$('.title').click(function(){
		var $ul = $(this).next('ul');
		$('dd').find('ul').slideUp();
		if($ul.is(':visible')){
			$(this).next('ul').slideUp();
		}else{
			$(this).next('ul').slideDown();
		}
	});
})	
</script>

</head>

<body style="background:#f0f9fd;">
	<div class="lefttop"><span></span>通讯录</div>
    
    <dl class="leftmenu">
        
    <dd>
    <div class="title">
    <span><img src="TMPL_MAN_IMAGES/leftico01.png" /></span>管理信息
    </div>
    	<ul class="menuson">
        <li class="active"><cite></cite><a href="{:U('Index/main')}" target="rightFrame">首页信息</a><i></i></li>
        <li><cite></cite><a href="{:U('Company/title')}" target="rightFrame">标题列表</a><i></i></li>
        <li><cite></cite><a href="{:U('Company/about')}" target="rightFrame">公司简介</a><i></i></li>
        <li><cite></cite><a href="{:U('Index/main')}" target="rightFrame">添加编辑</a><i></i></li>
        <li><cite></cite><a href="imglist.html" target="rightFrame">图片列表</a><i></i></li>
        <li><cite></cite><a href="imglist1.html" target="rightFrame">自定义</a><i></i></li>
        <li><cite></cite><a href="tools.html" target="rightFrame">常用工具</a><i></i></li>
        <li><cite></cite><a href="filelist.html" target="rightFrame">信息管理</a><i></i></li>
        <li><cite></cite><a href="tab.html" target="rightFrame">Tab页</a><i></i></li>
        <li><cite></cite><a href="{:U('Index/login')}" target="rightFrame">404页面</a><i></i></li>
        </ul>    
    </dd>
        
    
    <dd>
    <div class="title">
    <span><img src="TMPL_MAN_IMAGES/leftico02.png" /></span>商品管理
    </div>
    <ul class="menuson">
        <li><cite></cite><a href="{:U('Goods/goodsList')}" target="rightFrame">商品列表</a><i></i></li>
        <li><cite></cite><a href="{:U('Goods/addGoods')}" target="rightFrame">添加商品</a><i></i></li>
        <li><cite></cite><a href="{:U('Goods/goodsClass')}" target="rightFrame">商品分类</a><i></i></li>
        <li><cite></cite><a href="{:U('Goods/addClass')}" target="rightFrame">添加分类</a><i></i></li>
        </ul>     
    </dd> 

    <dd><div class="title"><span><img src="TMPL_MAN_IMAGES/leftico03.png" /></span>客户管理</div>
    <ul class="menuson">
        <li><cite></cite><a href="{:U('Mem/memList')}" target="rightFrame">客户列表</a><i></i></li>
        <li><cite></cite><a href="{:U('Mem/addMem')}" target="rightFrame">添加客户</a><i></i></li>
        <li><cite></cite><a href="{:U('Mem/OrderList')}" target="rightFrame">销售业绩</a><i></i></li>
        <li><cite></cite><a href="{:U('Mem/addOrder')}" target="rightFrame">添加销售业绩</a><i></i></li>
    </ul>
    </dd>

    <dd><div class="title"><span><img src="TMPL_MAN_IMAGES/leftico04.png" /></span>新闻动态</div>
    <ul class="menuson">
        <li><cite></cite><a href="{:U('Company/articleList')}" target="rightFrame">文章列表</a><i></i></li>
        <li><cite></cite><a href="{:U('Company/addArticle')}" target="rightFrame">添加文章</a><i></i></li>
        <li><cite></cite><a href="{:U('Company/active')}" target="rightFrame">促销活动</a><i></i></li>
        <li><cite></cite><a href="{:U('Company/addActive')}" target="rightFrame">添加活动</a><i></i></li>
    </ul>
    
    </dd>   
    
    </dl>
    
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>
