<extend name="Base:model" />
<block name="main">
    <div id="subbanner">
        <div class="subimg"><img src="TMPL_HOME_IMAGES/sonbanner01.jpg" width="1440" height="199" /></div>
    </div>
    <div id="sonmain">
        <div class="sonmainbox">
            <div class="sontips">
                <div class="sonname">
                    <div class="sonnamebg"><img src="TMPL_HOME_IMAGES/tt01.jpg" /></div>
                </div>
                <div class="loaction">
                    <ul>
                        <li>正文</li>
                        <li>-</li>
                        <li><a href="#">首页</a></li>
                        <li>当前位置：</li>
                        <li><img src="TMPL_HOME_IMAGES/028.png" /></li>
                    </ul>
                </div>
            </div>
            <div class="subbody">
                <div class="subside">
                    <div class="sidemenu">
                        <ul>
                            <li class="sonmenua"><a href="#"><span>新闻动态</span></a></li>
                        </ul>
                    </div>
                    <div class="side_contact">
                        <div class="sideimgtle"><img src="TMPL_HOME_IMAGES/123.jpg" /></div>
                        <div class="sidecontactbody"><h1>服务热线电话：</h1>
                            <h2><span>130 6433 9618</span></h2>
                            <h3>地址：四川省达州市</h3>
                        </div>
                    </div>
                </div>
                <div class="subcontent">
                    <div class="actle"><span class="title_son"><span>新</span>闻动态</span></div>
                    <div class="mainarticle">
                        <div class="article_body">
                            <h1>{$article_info.at_title}</h1>
                            <h2>发布作者：{$article_info.at_author} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 发布时间：{$article_info.create_time|date="Y-m-d H:i:s",###}</h2>
                            <div class="article_body_t">
                                {:htmlspecialchars_decode($article_info['at_content'])}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</block>