<extend name="Base:model" />
<block name="main">
<div id="subbanner">
  <div class="subimg"><img src="TMPL_HOME_IMAGES/sonbanner07.jpg" width="1440" height="199" /></div>
</div>
<div id="sonmain">
  <div class="sonmainbox">
    <div class="sontips">
      <div class="sonname">
        <div class="sonnamebg"><img src="TMPL_HOME_IMAGES/tt07.jpg" /></div>
      </div>
      <div class="loaction">
        <ul>
        <li>良仓人才理念</li>
          <li>-</li>
          <li><a href="#">加入良仓</a></li>
          <li>-</li>
          <li><a href="#">首页</a></li>
          <li>当前位置：</li>
          <li><img src="TMPL_HOME_IMAGES/028.png" /></li>
        </ul>
      </div>
    </div>
    <div class="subbody">
      <div class="subside">
        <div class="sidemenu">
          <ul>
            <li class="sonmenua"><a href="join.html"><span>良仓人才理念</span></a></li>
            <li class="sonmenu"><a href="join_so.html"><span>招聘职位</span></a></li>
            <li class="sonmenu"><a href="join_form.html"><span>在线填写</span></a></li>
          </ul>
        </div>
        <div class="side_contact">
        	<div class="sideimgtle"><img src="TMPL_HOME_IMAGES/123.jpg" /></div>
            <div class="sidecontactbody"><h1>服务热线电话：</h1>
            <h2>023-<span>45685426</span></h2>
            <h3>地址：四川省达州市</h3>
            </div>
        </div>
      </div>
      <div class="subcontent">
        <div class="actle"><span class="title_son"><span>良</span>仓人才理念</span></div>
        <div class="mainarticle">
        	<div class="article_img"><img src="TMPL_HOME_IMAGES/pic007.png" /></div>
            <div class="article_text">
            	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重庆良仓实业发展有限公司成立于2011年，注册资金1亿元，是一家多元化综合型企业。公司核心业务涵盖房地产开发、市场运作管理，能源、金融投资。子公司重庆东方良工阀门有限公司、重庆市乾元小额贷款公司多年来积累了丰富的社会人脉资源和金融资源。公司成立前期参与投资江苏南通中港房地产开发项目，积累了丰富的房地产开发经验。公司在短时间内构建了房地产开发，金融投资，家居市场建设、运营等体系。公司旗下三大产业运作搭建了合理务实的全新发展体系，并且成功拥有多元化稳步发展的战略部署.<br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重庆良仓实业发展有限公司为重庆市泉州商会常务副会长事业单位，具备强大的组织，融资能力。重庆市泉州商会是以目前在重庆的福建泉州籍商人成立的非营运性组织，目前商会在重庆的会员单位有2000多家，其中众多企业在重庆有较强的影响力。重庆泉州商会成立后，除了密切会员与政府部门的联系外，还将为会员提供管理、法律、审计融资等服务，并且组织会员参加展销会，帮助会员开拓国内国际市场。<br/><br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重庆良仓实业发展有限公司通过资源整合，不断发挥自身集群化优势，将秉持创新高效的作风，立足长远，紧抓机遇，加快中西部地区的投资步伐，用真正的产业综合体推动区域经济繁荣，不断探索，不断进取，成为可持续发展，和谐社会的开拓者.<br/>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</block>