<extend name="Base:model" />
<block name="main">
<div id="subbanner">
  <div class="subimg"><img src="TMPL_HOME_IMAGES/sonbanner07.jpg" width="1440" height="199" /></div>
</div>
<div id="sonmain">
  <div class="sonmainbox">
    <div class="sontips">
      <div class="sonname">
        <div class="sonnamebg"><img src="TMPL_HOME_IMAGES/tt07.jpg" /></div>
      </div>
      <div class="loaction">
        <ul>
        <li>在线填写</li>
          <li>-</li>
          <li><a href="#">加入良仓</a></li>
          <li>-</li>
          <li><a href="#">首页</a></li>
          <li>当前位置：</li>
          <li><img src="TMPL_HOME_IMAGES/028.png" /></li>
        </ul>
      </div>
    </div>
    <div class="subbody">
      <div class="subside">
        <div class="sidemenu">
          <ul>
            <li class="sonmenu"><a href="join_form.html"><span>良仓人才理念</span></a></li>
            <li class="sonmenu"><a href="join_so.html"><span>招聘职位</span></a></li>
            <li class="sonmenua"><a href="join_form.html"><span>在线填写</span></a></li>
          </ul>
        </div>
        <div class="side_contact">
        	<div class="sideimgtle"><img src="TMPL_HOME_IMAGES/123.jpg" /></div>
            <div class="sidecontactbody"><h1>服务热线电话：</h1>
            <h2>023-<span>45685426</span></h2>
            <h3>地址：重庆北部新区水星</h3>
            </div>
        </div>
      </div>
      <div class="subcontent">
        <div class="actle"><span class="title_son"><span>在</span>线填写</span></div>
        <div class="mainarticle">
        	<div class="join_form">
            	<table width="700" height="308" border="0">
  <tr>
    <td width="97"><div align="right">姓名：</div></td>
    <td width="10">&nbsp;</td>
    <td width="579"><input name="" type="text" />
      <span class="STYLE2">*</span></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="right">性别：</div></td>
    <td>&nbsp;</td>
    <td><select name="">
      <option>男</option>
      <option>女</option>
      &nbsp;
    </select> <span class="STYLE2">*</span></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="right">应聘职位：</div></td>
    <td>&nbsp;</td>
    <td><label>
      <select name="select" id="select">
        <option>职位一</option>
        <option>职位二</option>
        <option>职位三</option>
      </select>
    </label> <span class="STYLE2">*</span></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="right">相片：</div> </td>
    <td>&nbsp;</td>
    <td><label>
      <input type="file" name="fileField" id="fileField" />
    </label>
      <span class="STYLE1">（可上传JPG格式图片附近，不超过1M）</span> </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="right">上传简历：</div></td>
    <td>&nbsp;</td>
    <td><label>
      <input type="file" name="fileField2" id="fileField2" />
    </label> <span class="STYLE1">（可上传excel、word或者pdf格式简历附件）</span> </td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="right">出生日期：</div></td>
    <td>&nbsp;</td>
    <td><label>
      <input type="text" name="textfield2" id="textfield2" />
    </label> <span class="STYLE2">*</span></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="right">户口所在地：</div></td>
    <td>&nbsp;</td>
    <td><label>
      <input name="textfield3" type="text" id="textfield3" size="45" />
    </label> <span class="STYLE2">*</span></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="right">现居址：</div></td>
    <td>&nbsp;</td>
    <td><label>
      <input name="textfield4" type="text" id="textfield4" size="45" />
    </label></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="right">联系方式：</div></td>
    <td>&nbsp;</td>
    <td><label>
      <input type="text" name="textfield5" id="textfield5" />
    </label> <span class="STYLE2">*</span></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><div align="right">电子邮箱：</div></td>
    <td>&nbsp;</td>
    <td><label>
      <input type="text" name="textfield6" id="textfield6" />
    </label> <span class="STYLE2">*</span></td>
  </tr>
   <tr>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
    <td><div align="right">工作经历:</div></td>
    <td>&nbsp;</td>
    <td><label>
      <textarea name="textarea" id="textarea" cols="45" rows="5"></textarea>
    </label></td>
  </tr>
   <tr>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
     <td><div align="right">教育背景：</div></td>
     <td>&nbsp;</td>
     <td><label>
       <textarea name="textarea2" id="textarea2" cols="45" rows="5"></textarea>
     </label></td>
   </tr>
   <tr>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
     <td>&nbsp;</td>
   </tr>
   <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td><label>
      <input type="submit" name="button" id="button" value="提交" />
      <input type="reset" name="button2" id="button2" value="重置" />
    </label></td>
  </tr>
</table>

            </div>
            
        </div>
      </div>
    </div>
  </div>
</div>
</block>